main{
    background-color: #e4e4e4;
    width: 100%;
    padding: 30px;
    font-family: var(--primary-font);
}

.section-contact{
    margin: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 12px #c9c9c9;
}

section div.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.section-title h2{
    display: inline;
    font-weight: 700;
    font-size: 28px;
    color: #383838;
    margin: 5px;
    border-bottom: 2px solid #242F9B;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

form input{
    margin: 5px;
    width: 500px;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #c9c9c9;
    color: #383838;
}

form textarea{
    width: 500px;
    height: 250px;
    resize: none;
    font-size: 18px;
    border-radius: 2px;
    border: 1px solid #c9c9c9;
    color: #383838;
}

form button{
    width: 175px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid #c9c9c9;
    background-color: #fff;
    color: #383838;
    margin: 8px;
    cursor: pointer;
}

form button:hover{
    background-color: #e4e4e4;
}