
*{
    font-family: var(--primary-font);
}

header.main{
    position: absolute;
    top: 0;
    z-index: 999;
}

header.main nav.menu a.item{
    color: white;
}

header.index{
    background-color: lightslategrey;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--primary-font);
}

header.index h1{
    margin: 5px;
    font-size: 30px;
    font-weight: 600;
}

header.index p{
    text-align: center;
    margin: 5px;
    font-size: 18px;
    font-weight: 550;
}

header.index a{
    background-color: #242F9B;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 650;
}

header.index a:hover{
    color: #f8f9fa;
    background-color: #646FD4;
}

header.index a:active{
    background-color: #9BA3EB;
}

section div.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
section div.section-title h2{
    display: inline;
    font-weight: 700;
    font-size: 28px;
    color: #383838;
    margin: 5px;
    border-bottom: 2px solid #242F9B;
}

section article.section-article{
    text-align: center;
    font-size: 20px;
    margin: 30px;
}

section div.more-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.more-button a{
    border-bottom: 2px dashed #242F9B;
    font-size: 18px;
    margin: 15px;
    padding: 5px;
    cursor: pointer;
    font-weight: 550;
    color: #383838;
    text-decoration: none;
    text-align: center;
}

section div.more-button a:hover{
    color: #727272;
    border-color: #9BA3EB;
}

section.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

section.about img.about-icon{
    width: 50px;
}

section.pratice-area{
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #e4e4e4;
}

section.pratice-area div.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.pratice-area div.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    align-items: flex-start;
    font-size: 18px;
    background-color: #fff;
    box-shadow: 2px 2px 8px #727272;
    border-radius: 4px;
    margin: 5px;
    width: 315px;
    height: 315px;
    padding: 20px;
}

section.pratice-area div.card h3{
    font-size: 28px;
    margin: 8px 0;
}

section.pratice-area div.card > div{
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

section.pratice-area div.card img.card-icon{
    width: 50px;
}

section.pratice-area div.card a{
    border-bottom: 1px dashed #242F9B;
    text-decoration: none;
    color: #383838;
    cursor: pointer;
}

section.pratice-area div.card a:hover{
    color: #727272;
    border-color: #646FD4;
}

section.attorneys{
    padding: 30px;
}

p.section-description{
    text-align: center;
    font-size: 20px;
    margin: 13px;
}

section.attorneys div.attorneys-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.attorneys div.attorney-card{
    margin: 15px;
    text-align: center;
    color: #383838;
    font-weight: 500;
    font-size: 18px;
}

section.attorneys img{
    width: 280px;
    height: 380px;
    box-shadow: 2px 2px 8px #727272;
}

section.news{
    background-color: #e4e4e4;
    padding: 30px;
}

section.news div.news-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.news-container div.news-card{
    margin: 13px;
    cursor: pointer;
    border-radius:  4px;
    padding: 10px;
    text-align: center;
}

div.news-card h3{
    font-size: 20px;
    font-weight: 550;
    color: #383838;
}

div.news-card h3:hover{
    color: #ef233c;
}


section.news div.news-container div.news-card img{
    width: 300px;
    height: 200px;
    margin: 5px;
    box-shadow: 2px 2px 8px #727272;
}